
/*@import url("http://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css");*/
@import url("https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css");
/*@import url("http://yui.yahooapis.com/pure/0.5.0/forms-min.css");
@import url("http://yui.yahooapis.com/pure/0.5.0/buttons-min.css");*/
@import url("normalize.css");
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");*/
/*css*/

/*@media screen and (min-width: 568px ) */
@media screen and (min-width: 17.5em )
{

html {
    position: relative;
    min-height: 100%;
    font-size: 1rem;
}


body {
	padding:0;
	font-family:Roboto, Helvetica, Arial, sans-serif;
    font-size:1rem;
    position: relative;
    margin: 0 0 0px;
    line-height: 1.2;
}

a   {
    text-decoration:none;
    color:#000000;
}

a:hover {
    text-decoration:underline;
    //font-weight: 800;
}

p a {color: #da3326; }

hr {color: #29ab59;}

h1, h2, h3, h4 {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
}



.red {color: #da3326;}
.color3 {color: #da3326;}
.blue  {color: #1e4175;}
.color4 {color: #374a59;}
.green {color: #29ab59;}
.color2 {color: #1e4175;}
.darkblue  {color: #374a59;}
.maincolor {color: #29ab59;}
.darkbluebg {background: #29ab59;}
.redbg {background: #da3326;}
.bluebg {background: #374a59;}
.greenbg {background: #1e4175;}

.smallestfont {font-size: 0.6rem;}
.smallerfont {font-size: 0.7rem;}
.smallfont {font-size: 0.8rem;}
.normalfont {font-size: 0.9rem;}
.largefont {font-size: 1rem !important;}
.largerfont {font-size: 1.1rem !important;}
.largestfont {font-size: 1.2rem;}
.bigfont {font-size: 1.3rem;}
.biggerfont {font-size: 1.4rem;}
.biggestfont {font-size: 1.5rem;}
.hugefont {font-size: 1.6rem;}
.hugestfont {font-size: 1.7rem;}

.lightbold {font-weight: 600;}
.bold {font-weight: 700;}
.bolder {font-weight: 800;}

.smallbold {font-size: 0.9rem; font-weight: 700;}
.smallerbold {font-size: 0.7rem; font-weight: bold;}
.smallestbold {font-size: 0.5rem; font-weight: bold;}
.bigbold {font-size: 1.1rem; font-weight: 600;}
.biggerbold {font-size: 1.4rem; font-weight: bold;}
.condensed {font-family: Open Sans Condensed, Helvetica, Arial, sans-serif;}
.caps {text-transform: uppercase;}
.highlight {color: #1e4175;}


.loginerror {font-weight: bold; color: red; margin-bottom: 10px;}

.bullet {color: #374a59; padding: 0 5px; font-size: .7em; position: relative; top: -0.05em; }
.whitebullet {color: #ffffff; padding: 0 5px; font-size: .7em; position: relative; top: -0.05em; }

.container {
    width: 1100px;
    margin: auto;
    padding: 0 0 0 40px;
    }

#menutabs {
    margin-top: 30px;
}

.bigtab {
  width: 300px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

.smalltab {
  width: 170px;
  margin-bottom: 2px;
  vertical-align: bottom;
}

#horizontalmenu {
	display: block;
	height: 46px;
    background-color: #29ab59;
    font-weight: 400;
    color: white;
    line-height: 46px;
    min-width: 1150px;
	}

#horizontalmenu ul {
    display: inline;
    //display: flex;
    list-style-type: none;
    font-size: 1.0rem;
    margin: 0;
    padding: 0;
}

#horizontalmenu ul li {
    display: block;
    float: left;
    /*margin: 0 13px 0 0;*/
    padding: 0 13px 0 13px;
    vertical-align: middle;
    height: 100%;
}

#horizontalmenu ul li:hover {
    background: #da3326;
    border-radius: 16px 16px 0px 0px;
/*    font-weight: 600;*/
    /*font-color: #29ab59;*/
}

#horizontalmenu a{
    text-decoration:none;
    color: #ffffff;
}

#horizontalmenu ul li a:hover{
    text-decoration:none;
/*    color: #29ab59;*/
}

#horizontalmenu ul li a.active {
    text-decoration:none;
    font-weight: 500;
    color: #1e4175;
    border-radius: 16px 16px 0px 0px;
}

/*#horizontalmenu li+li {
    padding-left: 13px;
}                                   */


#horizontalmenu2 {display: block; height: 46px; background-color: #29ab59; font-weight: 400; color: white; line-height: 46px; min-width: 1150px; border-style: solid; border-bottom: 2px solid #1e4175; border-top: 0px; border-left: 0px; border-right: 0px;}
/*#horizontalmenu2 ul {list-style: none;padding: 0px;margin: 0px;}*/
#horizontalmenu2 ul {display: inline; list-style-type: none; font-size: 1.0rem; margin: 0; padding: 0;}
/*#horizontalmenu2 ul li {display: block; position: relative; float: left; border:1px solid #000}*/
#horizontalmenu2 ul li {display: block; position: relative; z-index: 100; float: left; vertical-align: middle; height: 100%;}
#horizontalmenu2 ul li ul {min-width: 100px;}
#horizontalmenu2 ul li a {padding: 0 13px 0 13px; display: block; text-decoration:none; color: #ffffff; white-space: nowrap;}
/*#horizontalmenu2 a.active {text-decoration:none; font-weight: 500; color: #1e4175;}*/
#horizontalmenu2 ul li:hover {background: #1e4175;}
#horizontalmenu2 li ul {display: none;}
/*#horizontalmenu2 ul li a {display: block;background: #000;padding: 5px 10px 5px 10px;text-decoration: none; white-space: nowrap;color: #fff;}*/
/*#horizontalmenu2 ul li a {display: block; text-decoration:none; color: #ffffff;}*/
/*#horizontalmenu2 ul li a:hover {background: #1e4175;}*/
#horizontalmenu2 li.active {background: #1e4175; color: #ffffff;     border-radius: 16px 16px 0px 0px;}
#horizontalmenu2 ul li a:hover {text-decoration:none;}
#horizontalmenu2 li:hover ul {display: block; position: absolute;}
#horizontalmenu2 li:hover li {float: none;}
#horizontalmenu2 li:hover a {background: #1e4175; color: #ffffff;}
#horizontalmenu2 li:hover li a:hover {background: #29ab59;}



.socialbox {
    display: inline;
    background: white;
    margin: 6px 2px 8px 2px;
    width: 32px;
    height: 32px;
    color: #29ab59;
    text-align: center;
}
#horizontalmenu .socialbox a {
    color: #29ab59;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.homebuttons {
    float: right;
    margin: 10px 40px 10px 0;
}

.socialbox a {
    color: #29ab59;
}

#mainleft   {
    width: 728px;
    margin: 20px 0 20px 0;
    float: left;
}

#mainleft li a {color: #da3326;}

#mainleft .breadcrumbs {
    text-transform: none;
    line-height: 45px;
    margin: 10px 0 15px -20px;
    background: url('https://d23s79tivgl8me.cloudfront.net/new2/images/FPGARelated/title_background.svg') no-repeat left center;
    background-size: 748px;
    padding-left: 60px;
    color: white;
    font-size: 1.1rem;
}

#mainleft .breadcrumbs a {
    color: white;
}

#mainleft .contenthalf {
    width: 48%;
    float: left;
    padding: 1%;
    }

#mainleft .contentthird {
    width: 31%;
    float: left;
    padding: 1%;
    }

#mainleft .contenthalf h3 {
    margin: 0;
    padding: 0;
}

#mainleft .contentthird h3 {
    margin: 0;
    padding: 0;
}

.author {
    color: #da3326;
    font-weight: 700;
    white-space: nowrap;
}

.commentscount {
    color: #1e4175;
    font-weight: 700;
    white-space: nowrap;
}

.nonactivetab {
    margin-bottom: 2px;
}


/* Styles for EasyTabs */
.etabs { margin: 10px 0 0 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 14px 14px 0 0; -webkit-border-radius: 14px 14px 0 0; }
.tab a { color: #000; font-size: 16px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
#mainleft .tab a { color: #000;}
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; margin: 0 0 20px 0; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
.tab-container .panel-container-topborder { background: #fff; border-top: solid #666 1px; padding: 20px 10px 10px 10px; }
.panel-container { margin-bottom: 10px;}
.tagsbox {border-bottom: solid #666 1px; padding-bottom: 5px;}
.tabhelp { color: #1e4175; font-weight: 700;}

#sidebar    {
    width: 336px;
    margin: 0 0 20px 0;
    float: right;
}

.sidebar_box {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 25px;
}

#sidebar h2 {
    //height: 35px;
    line-height: 40px;
    margin-top: 25px;
    background: url('https://d23s79tivgl8me.cloudfront.net/new2/images/FPGARelated/sidebar_title_background.svg') no-repeat left center;
    background-size: 336px;
    padding-left: 50px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}


#sidebar ul {
    padding-left: 0px;
    margin-top: 0;
    padding-top:0;
}

#sidebar .iconnav ul li {
	list-style: none;
/*    background: url('/new2/images/logo_icon.svg') no-repeat 0px 1px;*/
    background: url('https://d23s79tivgl8me.cloudfront.net/new2/images/FPGARelated/logo_icon.svg') no-repeat 0px 1px;
	background-size: 18px;
    padding: 0px 0px 2px 25px;
    font-size: 1rem;
    font-weight: 600;
}

#sidebar p {font-size: 0.9rem; display: block; overflow: hidden; margin-bottom: 0.5rem;}
img.imageleft {float: left; margin-right: 10px;  clear: both;}
img.user {box-shadow: 1px 1px 2px #444444; clear: both; border-radius: 4px;}
img.document { box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35); }
img.book { box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35); }
img.tweet { box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35); border-radius: 5px;}

.halloffame {margin-top: 5px; box-shadow: 1px 1px 2px #444444;}
.halloffame p a {color: black; font-size: 1.1rem; text-transform: uppercase; font-weight: 700;}

/*.blogheader {font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; font-size: 2.0rem; margin-bottom:0.5rem; text-transform: uppercase;}*/
.blogheader {font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; font-size: 2.4rem; margin-bottom:0.8rem; margin-top:0;}
#blogarticle { font-size: 1.1rem; border-top: 1px #29ab59 solid;}
//#blogarticle { font-size: 1rem; font-family: Arial; }
#blogarticle h1 { font-size: 2.0rem; font-weight: 700; margin:0; padding:0; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif;}
#blogarticle h2 { color: black; font-size: 1.5rem; font-weight: 700; background: none; text-transform: uppercase; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; }
#blogarticle h3 { font-size: 1.3rem; font-weight: 700; text-transform: uppercase; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; margin-bottom: 0.1em;  }
.bloginfo { font-size: 1.2rem; font-weight: 500; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; margin-bottom: 0.5rem}
#blogarticle a { color:#da3326;}
#blogarticle p { line-height: 1.5;}
//#blogarticle p { font-family: Arial; line-height: 1.5;}
#blogarticle blockquote { font-style: italic; }
#blogarticle ul {line-height: 1.5;}
#blogarticle ul li {font-size: 1.1rem;}
#blogarticle ul li a { color:#da3326;}
#blogarticle pre {font-size: 0.9rem; font-family: Consolas, "Liberation Mono", Courier New, monospace;}
#blogarticle table tr td {padding: 3px;}
#blogarticle blockquote.altquote1 {font-style: inherit; font-size:  90%;} /*requested by Jason Sachs*/
#blogarticle .centered {display: block; text-align:center;
    margin-left: auto;
    margin-right: auto;}
h1.blogtitle  { font-size: 2rem; font-weight: 700; margin:0; padding:0; }


.inlinecode {  color: #000;  background: #eee;  padding: 0 .2em 0 .2em;  border-radius: 2px; font-family: Consolas, "Liberation Mono", Courier New, monospace;}

.tags {margin-bottom: 15px; margin-top:15px;}
.tags a {color: white; background-color: #29ab59; font-size: 0.8rem; padding: 4px 8px 4px 8px; border-radius: 4px;}

#blogs { font-size: 1rem;}
#blogs p { line-height: 1.5;}

#bookchapter { font-size: 1.1rem;}
//#bookchapter { font-size: 1rem; font-family: Arial; }
#bookchapter h1 { font-size: 2.0rem; font-weight: 700; margin:0; padding:0; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; text-transform: uppercase;}
#bookchapter h2 {font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; font-size: 1.7rem; text-transform: uppercase; margin: 0px; padding: 0px;}
#bookchapter h3 { font-size: 1.3rem; font-weight: 700; text-transform: uppercase; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; margin-bottom: 0.1em;  }
#bookchapter h4 { font-size: 1.2rem; font-weight: 700; text-transform: uppercase; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; margin-bottom: 0.1em;  }
#bookchapter a[href] { color:#da3326;}
#bookchapter a[name] { }
#bookchapter a[name]:hover {text-decoration: none; }
#bookchapter p { line-height: 1.5;}
#bookchapter blockquote { font-style: italic; }
#bookchapter ul li {font-size: 1.1rem}
#bookchapter ul li a { color:#da3326;}
#bookchapter pre {font-size: 0.9rem}

#threadslist { font-size: 0.9rem; }
#threadslist .group, .replies { color: #1e4175; font-weight: bold;}
#threadslist .author { color: #da3326; font-weight: bold;}
#threadslist .threadinfo {font-size: 1.0rem; padding-left: 4px; margin-bottom: 10px;}
#threadslist h2 { color: black; font-size: 1.8rem; font-weight: 700; background: none; margin-bottom:3px;   }
#threadslist .excerpt { line-height: 1.3; font-size: 1.0rem; margin-top: 0.5rem; margin-bottom: 0.5rem; font-style: normal; font-weight: 300; font-family: Consolas, "Liberation Mono", Courier New, monospace; box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35); padding: 2 10 2 10;}
#threadslist p { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.threadsnippet {border-bottom: 1px dotted #000; padding-bottom: 10px; margin-bottom: 10px;}

.longsnippet {display: none;}

.threadheader {font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; font-size: 1.1rem;}
.threadheader h2 { font-size: 2.0rem; margin-bottom:0.8rem; margin-top:0;}

#forumpost h3 { color: black; font-size: 2.0rem; font-weight: 700; background: none; margin-bottom:3px;   }
#forumpost p, pre { font-size: 1.0rem; line-height: 1.3; margin-top: 0.5em; margin-bottom: 0.5em;  font-weight: 300;}

#posts { font-size: 1.0rem;}
#posts h1 { font-size: 1.8rem; font-weight: bold; margin:0 0 10px 0; padding:0; }
#posts p { line-height: 1.2; font-family: Consolas, "Liberation Mono", Courier New, monospace;}
#posts .threadinfo {font-size: 1.0rem; padding-left: 4px; margin-bottom: 25px;}
#posts .bullet {padding-right: 10px;}
/*#posts pre {height: auto; max-height: 400px; overflow: auto; word-break: normal; word-wrap: normal; white-space: pre;}*/

.postinfo {
    text-transform: none;
    line-height: 25px;
    margin-top: 10px;
    background: url('https://d23s79tivgl8me.cloudfront.net/new2/images/FPGARelated/smaller_title_background.svg') no-repeat left center;
    background-size: 748px;
    padding-left: 40px;
    color: white;
    margin-left: -15px;
}
.postinfo .bullet {  color: white; position: relative; top: -0.1rem; padding-right: 10px;}

/*.postinfo {
background: url('https://d23s79tivgl8me.cloudfront.net/new2/images/FPGARelated/smaller_title_background.svg') no-repeat center center;
background-size: cover;
} */

.post:first-of-type {margin-left: 0;}

.post {padding-top:10px; padding-bottom: 5px; padding-left: 10px; margin-left: 15px; margin-bottom: 20px; font-size: 0.9rem; font-family: Consolas, "Liberation Mono", Courier New, monospace; box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35);}
.post blockquote {font-size: 0.8rem;  position: relative; left: 0px; margin: 5px 0   5px 0; background-color: #eee; padding: 1px 1px 5px 5px; max-height: 200px; overflow: auto;}
.post blockquote blockquote {max-height: none; position: relative; left: -20px; width: 100%; background-color: #ddd; padding: 1px 1px 1px 15px;}
.post blockquote blockquote blockquote {max-height: none; position: relative; left: -30px; width: 100%; background-color: #ccc; padding: 1px 1px 1px 20px;}
.post blockquote p {font-size: 0.9rem;}
.post h2 { font-size: 0.9rem; margin-bottom:3px;}
.post pre { font-size: 0.9rem; font-family: Consolas, "Liberation Mono", Courier New, monospace;}
.post hr {width: 50%; color: #aaa; background-color: #ddd; border: 0; height: 1px;}
.post ul li { font-family: Consolas, "Liberation Mono", Courier New, monospace;}


.replyheader {
    text-transform: none;
    line-height: 40px;
    margin: 10px 0 0 0;
    background: url('/new2/images/title_background.svg') no-repeat left center;
    background-size: 100%;
    padding-left: 60px;
    color: white;
    font-size: 1.1rem;
}

.forumpost {padding: 10 10 15 15; margin-bottom: 20px; font-size: 0.9rem; font-family: Consolas, "Liberation Mono", Courier New, monospace; box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35);}
.forumpost blockquote {font-size: 0.8rem;  position: relative; left: 0px; margin: 5px 0   5px 0; background-color: #eee; padding: 1px 1px 5px 5px; max-height: 200px; overflow: auto;}
.forumpost a {color: #da3326;}
.forumpost h1 { font-size: 1.7rem; margin-bottom:10px;}
.forumpost h2 { font-size: 1.5rem; margin-bottom:8px;}
.forumpost h3 { font-size: 1.3rem; margin-bottom:6px;}
.forumpost h4 { font-size: 1.2rem; margin-bottom:4px;}
.forumpost h5 { font-size: 1.1rem; margin-bottom:4px;}
.forumpost pre { font-size: 0.9rem; font-family: Consolas, "Liberation Mono", Courier New, monospace;}
.forumpost hr {width: 50%; color: #aaa; background-color: #ddd; border: 0; height: 1px;}
.forumpost ul li { font-family: Consolas, "Liberation Mono", Courier New, monospace;}
.forumpost p { margin-top: 4px}
.forumpost table {width: 100%; border:1px solid #ddd; }
.forumpost th, .forumpost td { padding: 3px;  border:1px solid #ddd;}
.forumpost pre {height: auto; max-height: 400px; overflow: auto; word-break: normal; word-wrap: normal; white-space: pre;}



.showdocument {margin-top: 10px;}
.showdocument h2 { color: black; font-size: 1.5rem; font-weight: 700; background: none; margin-bottom:0.2rem; margin-top: 0; text-transform: uppercase; font-family: Roboto Condensed;}
//.showdocument img {display: inline; float: left; box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35);}
.showdocument .right {font-size: 0.8rem; display: block; overflow: hidden; padding-left: 10px;}

.tweet .right { display: block; overflow: hidden; padding-left: 10px;}
.tweet p {font-size: 1.2rem; margin-top: 5px; margin-bottom: 0px;}
/*.tweet a {color: #da3326;}*/

.twitter_hashtag { padding: 0px 5px 0px 5px;
        border-radius: 4px;
        background-color: #29ab59;
        font-weight: 300;
        color: white;
}

.twitter_user, .twitter_link { color: #777777;}
a.twitter_user:hover, a.twitter_link:hover { color: #da3326; text-decoration: none;}

.ytvideo .right { display: block; overflow: hidden; padding-left: 10px;}
.ytvideo h2 {font-size: 1.4rem; margin-top: 5px; margin-bottom: 5px;}
.ytvideo a {color: #da3326;}

.reddit a {color: blue; font-size: 1.0rem; font-family: Verdana; font-weight: normal; background: none; margin-bottom:0.2rem; margin-top: 0; overflow: hidden;}
.commentlink a {color:#888; font: x-small verdana; font-weight:bold;}
.reddit {margin: 20px 0 20px 0;}
.midcol{float:left; margin-right:7px; margin-left:7px; background:transparent; overflow:hidden; font-weight: bold;}
.arrow{margin:2px 0px 0px 0px;width:100%;height:14px;display:block;background-position:center center;background-repeat:no-repeat;width:15px;margin-left:auto;margin-right:auto;outline:none}
.arrow.up {
    background-image: url('https://www.embeddedrelated.com/new2/images/sprite-reddit.png');
    background-position: 0px -843px;
    background-repeat: no-repeat;
}
.score {
    text-align: center;
    color: #c6c6c6;
}
.arrow.down {
    background-image: url('https://www.embeddedrelated.com/new2/images/sprite-reddit.png');
    background-position: -64px -821px;
    background-repeat: no-repeat;
}


#books { font-size: 0.9rem;}
/*#books h2 { color: black; font-size: 1.8rem; font-weight: 700; background: none; text-transform: none; margin-top: 0; margin-bottom:0.5rem; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; }*/
#books p { line-height: 1.5;}
.bookinfo { font-size: 1.2rem; font-weight: 500; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; margin-bottom: 0.5rem}
.showbook {margin-top: 10px;}
.showbook h2 { color: black; font-size: 1.8rem; font-weight: 700; background: none; text-transform: none; margin-top: 0; margin-bottom:0.5rem; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; }
.showbook .right {display: block; overflow: hidden; padding-left: 10px;}

.showcode {margin-top: 10px; font-size: 0.75rem;}
.showcode h2 { color: black; font-size: 1.8rem; font-weight: 700; background: none; margin-bottom:0.2rem; margin-top: 0; text-transform: uppercase;}
.showcode p {font-size: 0.9rem; line-height: 1.3;}

.codeinfo { font-size: 1.2rem; font-weight: 500; font-family: Roboto Condensed; margin-bottom: 1rem}
.language {color: #1e4175; font-weight: 700;}
.processor {color: #374a59; font-weight: 700;}

#jobslist p { line-height: 1.5; font-size: 1.1rem; margin-top: 0px;}
#jobslist h2 { color: black; font-size: 1.8rem; font-weight: 700; background: none; text-transform: none; margin-top: 0; margin-bottom:0.5rem; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; }
.jobinfo { font-size: 1.2rem; font-weight: 500; font-family: Open Sans Condensed, Helvetica, Arial, sans-serif; margin-bottom: 0.5rem;}


#vendorlogodesc { padding: 5px;}
#vendorlogodesc .imgleft {min-width: 150px; text-align: center; float: left; padding: 20px;}
/*#vendorlogodesc img {box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35); clear: both; border-radius: 4px;}*/
#vendorlogodesc .descright {display: block; text-align: left; padding: 10px 20px 10px 20px; overflow: hidden; font-size: 1.1rem;}

.vendorsnippet {}
.vendorsnippet p {margin: 5px 0 5px 0;}
.vendorsnippet h2 { color: black; font-size: 1.5rem; font-weight: 700; background: none; margin-bottom:0.1rem; margin-top: 0; font-family: Roboto Condensed;}
.vendorsnippet .imgleft {width: 200px; text-align: center; float: left; padding: 20px;}
.vendorsnippet .descright {display: block; text-align: left; padding: 10px 20px 10px 20px; overflow: hidden;}

/*.tags {
    position: relative;
    width: 300px;
    margin-left: 17px;
}

.tags:before {
        position:absolute;
        font-family: FontAwesome;
        top:0;
        left:-17px;
        content: "\f02c"; <--- this is your text. You can also use UTF-8 character codes as I do here
    }*/

div.pagination {
	padding:20px;
	margin:3px;
	text-align:right;
    font-family: Roboto;
    font-weight: 700;
    font-size: 0.9rem;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #1e4175;

	text-decoration: none;
	color: #1e4175;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: lightyellow;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid navy;
	font-weight: bold;
	background-color: #1e4175;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929292;
	color: #929292;
}


#footer {
    float: left;
    //left: 0;
    //bottom: 0;
    //clear: both;
    width: 100%;
    min-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #29ab59;
    color: white;
    font-size: 0.9rem;
    padding: 15px 0 15px 0;
	}

.footerbox {
    float: left;
    width: 23%;
    padding: 0 10px 0 10px;
    min-height: 160px;
    //margin: 0 10px 0 10px;
}

#footer h2 {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: 5px;
    margin: 0;
}

.footerbox+.footerbox {
    border-left: 1px solid #ffffff;
}

#footer ul {
    padding-left: 0px;
}

#footer ul li {
	list-style: none;
    background: url('https://d23s79tivgl8me.cloudfront.net/new2/images/FPGARelated/logo_icon.svg') no-repeat left center;
	background-size: 16px;
	padding: 0px 0px 2px 25px;
    font-size: 1.0rem;
    font-weight: normal;
    vertical-align: middle;
}

#footer a {
    color: white;
}


.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after{
	background: #59db89;
}


.button-more {
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #1e4175; /* this is a green */
}

.button-more-small {
    color: white;
    font-size: 0.9rem;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #1e4175; /* this is a green */
}


.pure-input-login {
			width: 115px;
		}

.pure-input-subscribe {
			width: 200px;
		}

.pure-button-green
        {
            color: white;
            font-size: 0.9rem;
            border-radius: 5px;
            padding: 8px 8px 8px 8px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: #1e4175;

        }

#tabs1-signup input {margin-bottom: 10px;}

#registerform legend {font-weight: 700; font-size: 1.2rem;}
#loginform legend {font-weight: 700; font-size: 1.2rem;}
#youform label, #jobform label {font-weight: 500; font-size: 1.0rem;}
#youform input, #youform textarea, #jobform input, #jobform textarea {margin-bottom: 10px;}



#formpost label {font-weight: 500; font-size: 1.0rem; margin-top: 15px;}

#styled {
	width: 640px;
	border: 1px solid #cccccc;
	padding: 5px;
    margin-bottom: 10px;
    min-height: 300px;
    max-height: 1000px;
}

#nav li {
        display: inline;
        padding-right: 0.4rem;
        padding-left: 0.15rem;
        border-right: 1px solid #009;
}

#nav li.last {
       border: none;
}

#nav li:first-child {
       padding-left: 0.2rem;
       margin-left: 0;
}

 #nav li.active {
//      background-color: #374a59;
      background-color: #eee;
//      color: white;
      color: black;
      font-weight: bold;
    }

#nav {
       font-size: 0.8rem;
       font-weight: bold;
       margin: 0;
       padding: 0.3rem 0.3rem 0.3rem 0.3rem;
       border-bottom: 1px solid #ccc;
       line-height: 150%;
}

#nav ul {
       margin: 0;
       padding: 0;
}

#nav a:hover {
//      background-color: #374a59;
      background-color: #eee;
//      color: white;
      color: black;
      text-decoration: none;
}

#navkw {
       font-weight: bold;
/*       margin: 0px;
       padding: 0.4rem 0.4rem 0.4rem 0.4rem;*/
/*       line-height: 180%;*/
        overflow: hidden;
        margin-bottom: 10px;
}

.withbottomline {
        padding-bottom: 10px;
        border-bottom: 1px solid;
}

#navkw ul {
       margin: 0;
       padding: 0;
       list-style-type: none;
       clear: both;
}

#navkw ul.level1 {
        margin: auto;
}

#navkw li {
       /* display: inline;*/
       font-size: 0.9rem;
       display: inline-block;
       float: left;
       margin: 2px;
        padding: 4px 8px 4px 8px;
        border-radius: 4px;
        background-color: #29ab59;
        font-weight: 400;
        color: white;
        white-space: nowrap;
}

#navkw li.level1 {
       font-size: 1.6rem;
        padding: 5px 25px 5px 25px;
}

#navkw li.level2 {
       font-size: 1.4rem;
        padding: 4px 15px 4px 15px;
}

#navkw li.level3 {
       font-size: 1.2rem;
        padding: 4px 10px 4px 10px;
}

#navkw li.level4 {
       font-size: 1.0rem;
        padding: 4px 10px 4px 10px;
}

#navkw li.level5 {
       font-size: 0.8rem;
        padding: 4px 10px 4px 10px;
}

#navkw li a {
        color: white;
}

#navkw li.last {
/*       border: none;*/
}

#navkw li:first-child {
/*       padding-left: 0.2rem;
       margin-left: 0;*/

}

 #navkw li.active {
      background-color: #1e4175;
    }

#navkw li:hover {
      background-color: #1e4175;
//      color: white;
//    color: #1e4175;
}

#navkw a:hover {
  text-decoration: none;
}

#navtime ul {
       margin: 0 auto 20px auto;
       align: center;
       list-style-type: none;
       padding: 0;
}

#navtime li {
        display: inline;
        padding: 5px 50px 5px 50px;
        font-size: 1.0rem;
        margin: 5px;
        border-radius: 4px;
        background-color: #29ab59;
        font-weight: 500;
        color: white;
}

#navtime li:hover {
        background-color: #1e4175;s
}

#navtime a:hover {
  text-decoration: none;
}

 #navtime li.active {
      background-color: #1e4175;
//        color: #1e4175;
    }


.vendorslogo {
    text-align: center; vertical-align: middle; width:210px; height:120px; display: inline-block; margin-right: 25px; margin-bottom: 25px; box-shadow: 1px 1px 2px #444444;
}

.vendorslogoexpended {
    width: 660px;
    position: relative;
    left: 0;
    z-index: 10;
    display: none;
    margin-bottom: 30px;
    padding: 10px;
    box-shadow: 1px 1px 2px #444444;
}

.insight_container {
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.insight_img {
    width: 200px;
    box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35);
    margin-bottom: 5px;
    float: left;
}

.insight_img_sidebar {
    width: 300px;
    box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35);
    margin-bottom: 5px;
}

.insight_text {
  margin-top: 5px;
  text-align:center;
  font-weight: 500;
  font-size: 1.1rem;

}


.videologo {
    text-align: left; vertical-align: middle; max-width: 210px; height: 180px; display: inline-block; margin-right: 25px; margin-bottom: 25px; box-shadow: 0 0 15px 1px rgba(167, 169, 171, 0.35);
}
.videologo a {font-size: 0.9rem; font-weight: bold; color:#da3326;}

.vendors_news_item {
  padding: 5px 10px 5px 10px; margin-bottom: 10px; box-shadow: 1px 1px 2px #444444;
}

.social_align iframe {
vertical-align: middle;
}
.social_align div span {
vertical-align:middle !important;
}


/* START Fast & Agile YouTube Embed by Schoberg.net */
.youtube { /* continer (responsive) */
  position: relative;
  cursor: pointer;
  background: #ccc no-repeat center center / cover;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0px;
  clear:both;
}

.youtube::before { /* play bubble */
  content: '';
  background: rgba(255, 255, 255, .6);
  height: 80px;
  width: 80px;
  display:block;
  margin: -40px 0 0 -40px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 20px 3px rgba(51, 51, 51, .8);
  transition: all .1s ease;
  z-index:1;
}

.youtube:hover::before { /* play bubble hover */
  background: rgba(238, 238, 238, .8);
  box-shadow: 0 0 10px 3px rgba(51, 51, 51, .8);
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.youtube::after { /* Play Triangle */
  content: '';
  width: 0;
  height: 0;
  line-height:0px;
  display:block;
  border-style: solid;
  border-width: 20px 0 20px 40px;
  margin: -20px 0 0 -15px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  z-index:2;
}
.youtube iframe{ /* youtube embed (responsive) */
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:3;
}
/* END Fast & Agile YouTube Embed by Schoberg.net */


} /* end @mediascreen */



/* Portrait  iphone 6*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

/*.smalltab {
display: none;
}  */

/*.bigtab {
  width: 100%;
  background-color: #364A59;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
} */

/*#mainleft   {
    width: 100%;
    margin: 20px 0 20px 0;
    float: left;
}

#sidebar    {
    width: 0px;
    diplay: none;
    float: right;
} */

}
