NET "spi_mosi" LOC=T4;
NET "spi_sck" LOC=U16;
NET "amp_cs" LOC=N7;
NET "ad_conv" LOC=P11;
NET "spi_ss_b" LOC=U3;
NET "sf_ce0" LOC=D16;
NET "fpga_init_b" LOC=T3;
NET "clk" LOC=C9;
NET "rst" LOC=L13;
NET "amp_shdn" LOC=P7;
NET "spi_miso" LOC=N10;
NET "fin_can" LOC=F12;
NET "dac_cs" LOC=N8;
NET "dac_clr" LOC=P8;
NET "fin_cna" LOC=E12;

#net "can0[0]" LOC=B4;
#net "can0[1]" LOC=A4;
#net "can0[2]" LOC=D5;
#net "can0[3]" LOC=C5;
#net "can0[4]" LOC=A6;
#net "can0[5]" LOC=B6;
#net "can0[6]" LOC=E7;
#net "can0[7]" LOC=F7;
#net "can0[8]" LOC=D7;
#net "can0[9]" LOC=C7;
#net "can0[10]" LOC=F8;
#net "can0[11]" LOC=E8;
#net "can0[12]" LOC=A16;
#net "can0[13]" LOC=D14;
